/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

//General Style's
.main-router-content-container {
  max-height: calc(100vh - 64px);
  overflow: auto;
}

.container {
  padding: 16px;
}

.default-flat-action-button {
  position: fixed !important;
  right: 32px;
  bottom: 32px;
}

//webkit Scrollbar Custom Style
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
