<div class="main-router-content-container">
  <div fxFlex="60" fxLayout="column" class="container">
    <div fxLayout="row" fxLayoutAlign="start end">
      <h1>Event Name</h1>&nbsp;
      <h4>Location</h4>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat,
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
      justo duo dolores et
      ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
  <div fxFlex fxLayout="column" class="container">
    <div fxLayoutAlign="center center">
      <img class="event-image" src="http://bienvenidoaparaguay.com/img/destinos/img_1342597754.jpg" alt="">
    </div>
    <table mat-table [dataSource]="eventDatesTableDataSource" class="mat-elevation-z8">

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="eventDatesTableDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: eventDatesTableDisplayedColumns;"></tr>
    </table>
  </div>
</div>
