<div fxLayout="row" id="main-container">
  <div fxFlex="70" class="container">
    <div fxFlexFill fxLayout="row wrap" fxLayoutGap="10px grid" style="cursor: pointer;">
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
      <div fxFlex="50">
        <app-events-card></app-events-card>
      </div>
    </div>
  </div>
  <div fxFlex class="container">
    <app-events-highlight-list></app-events-highlight-list>
  </div>
  <button mat-fab class="create-event-button" matTooltip="Create New Event" matTooltipPosition="above">
    <mat-icon aria-label="icon-button with a add icon">add</mat-icon>
  </button>
</div>
