<app-loading-spinner [showSpinner]="showSpinner"></app-loading-spinner>
<div fxLayout="row" class="main-router-content-container">
  <div fxFlex="70" class="container">
    <div fxFlexFill fxLayout="row wrap" fxLayoutGap="10px grid" style="cursor: pointer;">
      <div fxFlex="50" *ngFor="let event of eventList">
        <app-events-card [event]="event"></app-events-card>
      </div>
    </div>
  </div>
  <div fxFlex="30" class="container">
    <app-events-list [eventList]="featuredEventList" [eventListTitle]="'Today\'s Highlight'"></app-events-list>
  </div>
  <a routerLink="./create" mat-fab class="default-flat-action-button" matTooltip="Create New Event" matTooltipPosition="above">
    <mat-icon aria-label="icon-button with a add icon">add</mat-icon>
  </a>
</div>
